<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RiskControl</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/app/app.css"/>
</head>
<body ng-app="app">
<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Risk Control</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid" ng-controller="TextController as vm">
    <div class="row">
        <div class="jumbotron">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Welcome!</h1>
                        <p><a href="" ng-click="vm.readFile()" class="btn btn-success btn-lg">Click here to read the text file</a></p>
                    </div>
                    <div class="col-xs-4" ng-if="vm.text">
                        <form>
                            <div class="form-group">
                                <label for="word1">Word 1:</label>
                                <input type="input" class="form-control" id="word1" placeholder="Enter word to be replaced" ng-model="vm.word1" />
                            </div>
                            <div class="form-group">
                                <label for="word2">Word 2:</label>
                                <input type="input" class="form-control" id="word2" placeholder="Enter word to be replaced with" ng-model="vm.word2" />
                            </div>
                            <p><a href="" ng-click="vm.replaceWordsFromFile()" class="btn btn-success btn-lg">Replace words</a></p>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" ng-if="vm.error">
                        <div class="alert alert-danger" role="alert">
                            {{vm.error}}
                        </div>
                    </div>
                    <div class="col-xs-12">
                        {{vm.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <footer>
                <p>&copy; Copyright 2018 Flavio Oliva</p>
            </footer>
        </div>
    </div>
</div>
</body>
<script src="js/app/app.js"></script>
<script src="js/app/text/TextService.js"></script>
<script src="js/app/text/TextController.js"></script>


</html>